.trello-add-list {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: .5em;
  background-color: rgb(235, 236, 240);
}

button {
  border: none;
  outline: none;
}