<div class="talk-container">
  <h2>Ideas</h2>

  <div class="talk-list">
    <div class="talk-idea" *ngFor="let talk of talks">{{ talk }}</div>
  </div>
</div>

<div class="talk-container">
  <h2>Nope</h2>

  <div class="talk-list">
    <div class="talk-idea" *ngFor="let talk of declined">
      {{ talk }}
    </div>
  </div>
</div>

<div class="talk-container">
  <h2>Yes</h2>

  <div class="talk-list">
    <div class="talk-idea" *ngFor="let talk of accepted" cdkDrag>
      {{ talk }}
    </div>
  </div>
</div>
