<div class="example-container">
  <h2>Ideas</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList, nopeList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Nope</h2>

  <div
    cdkDropList
    #nopeList="cdkDropList"
    [cdkDropListData]="nope"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of nope" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Yes</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, nopeList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{ item }}</div>
  </div>
</div>
